<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>JTicketing - Login</title>
</h:head>

<h:body>
    <ui:composition template="/WEB-INF/templates/layout.xhtml">
        <ui:define name="content">
            <h:form id="loginForm" prependId="false">
                <p:inputText value="#{loginBean.username}" id="j_username" required="true"/>
                <p:password value="#{loginBean.password}" id="j_password" required="true"/>
                <p:commandButton value="login" action="#{loginBean.doLogin}" onclick="this.forms.submit();"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>