<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://java.sun.com/jsf/html" xmlns:h="http://java.sun.com/jsf/html">
    <composite:interface>
        <composite:attribute name="value"
                             type="org.wanna.jticketing.persistence.entity.TicketEntity"

                             required="true"/>
        <composite:attribute name="edit" type="java.lang.Boolean" default="false"/>
    </composite:interface>

    <composite:implementation>
        <h:form>
            <p:panelGrid columns="2">
                <p:outputLabel value="#{message['ticket.subject']}" for="subject"/>
                <h:outputText value="#{cc.attrs.value.subject}" rendered="#{not cc.attrs.edit}"/>
                <p:inputText id="subject"  value="#{cc.attrs.value.subject}" rendered="#{cc.attrs.edit}"/>

                <p:outputLabel value="#{message['ticket.description']}" for="description"/>
                <h:outputText value="#{cc.attrs.value.description}" rendered="#{not cc.attrs.edit}"/>
                <p:inputTextarea id="description"  value="#{cc.attrs.value.description}" rendered="#{cc.attrs.edit}"/>

                <p:outputLabel value="#{message['ticket.category']}" for="category"/>
                <h:outputText value="#{cc.attrs.value.category.name}" rendered="#{not cc.attrs.edit}"/>
                <p:selectOneMenu id="category" value="#{cc.attrs.value.category}"
                        rendered="#{cc.attrs.edit}">
                    <f:selectItems value="#{ticketEditorBean.categories}"
                                   var="category"
                                   itemLabel="#{category.name}"
                                   itemValue="#{category}"/>
                </p:selectOneMenu>
                <f:facet name="footer">
                    <p:commandButton value="#{message['button.create']}" action="#{ticketEditorBean.create(cc.attrs.value)}"/>
                </f:facet>
            </p:panelGrid>

        </h:form>
    </composite:implementation>
</ui:composition>
