<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
    <composite:interface>
        <composite:attribute name="value" required="true"/>
    </composite:interface>

    <composite:implementation>
        <h:link value="#{cc.attrs.value.reference}" outcome="/secured/ticket/view.html">
            <f:param value="#{cc.attrs.value.reference}" name="ref"/>
        </h:link>
    </composite:implementation>
</ui:composition>