<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xmlns:ticket="http://java.sun.com/jsf/composite/components/tickets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://java.sun.com/jsf/html" xmlns:h="http://java.sun.com/jsf/html">
    <composite:interface>
        <composite:attribute name="tickets"
                             type="java.util.List"

                             required="true"/>
    </composite:interface>

    <composite:implementation>
        <h:form>
        <p:dataTable value="#{cc.attrs.tickets}" var="ticket">
            <p:column>
                <f:facet name="header">
                    <p:outputText value="#{message['ticket.reference']}"/>
                </f:facet>
                <ticket:link value="#{ticket}"/>
            </p:column>
            <p:column>
                <f:facet name="header">
                    <p:outputText value="#{message['ticket.subject']}"/>
                </f:facet>
                <p:outputText value="#{ticket.subject}"/>
            </p:column>
            <p:column>
                <f:facet name="header">
                    <p:outputText value="#{message['ticket.reporter']}"/>
                </f:facet>
                <p:outputText value="#{ticket.reporter.username}"/>
            </p:column>
            <p:column>
                <f:facet name="header">
                    <p:outputText value="#{message['ticket.assignee']}"/>
                </f:facet>
                <p:outputText value="#{(empty ticket.assignee?'none':ticket.assignee.username)}"/>
            </p:column>
            <p:column>
                <p:commandButton value="assign to me" action="#{ticketEditorBean.assignToCurrentUser(ticket)}"/>
            </p:column>

        </p:dataTable>
        </h:form>
    </composite:implementation>
</ui:composition>