<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">

<h:body>
    <h:form>
        <p:menubar>
            <p:menuitem value="#{message['navigation.dashboard']}" url="/secured/dashboard/view.html"/>
            <p:submenu label="#{message['navigation.ticket']}">
                <p:menuitem value="#{message['navigation.ticket.search']}" url="/secured/ticket/search.html"/>
                <p:menuitem value="#{message['navigation.ticket.create']}" url="/secured/ticket/edit.html"/>
            </p:submenu>

            <p:menuitem>
                <h:panelGrid>
                    <h:form>
                    <h:inputText size="5" value="#{quickSearchBean.ticketReference}"/>
                    <h:commandButton action="#{quickSearchBean.search}" style="visibility: hidden;"/>

                    </h:form>

                </h:panelGrid>
            </p:menuitem>
        </p:menubar>
    </h:form>
</h:body>

</html>