
<f:view contentType="text/html" encoding="UTF-8" locale="#{userBean.currentLocale}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>JTicketing</title>
</h:head>

<h:body>
    <p:layout fullPage="true">
        <p:layoutUnit position="north" id="header">
            <h1>JTicketing logo</h1>
            <h:panelGrid rendered="#{userBean.authenticated}">
                <h:outputText value="#{userBean.currentUser.username}"/>
                <h:outputLink value="#{facesContext.externalContext.requestContextPath}/logout">
                    <h:outputText value="logout"/>
                </h:outputLink>
            </h:panelGrid>
            <h:panelGrid rendered="#{not userBean.authenticated}">
                <h:link value="#{message['navigation.login']}" outcome="nav_login"/>
            </h:panelGrid>
        </p:layoutUnit>
        <p:layoutUnit position="center">
            <h:panelGroup rendered="#{userBean.authenticated}">
                <ui:include src="/includes/navigation.xhtml"/>
            </h:panelGroup>
            <ui:insert name="content">
                Default Content
            </ui:insert>
        </p:layoutUnit>
        <p:layoutUnit position="south">
            footer goes here
        </p:layoutUnit>
    </p:layout>
</h:body>

</f:view>