<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:jtt="http://java.sun.com/jsf/composite/components/tickets" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://java.sun.com/jsf/html">

<h:head>
    <title>Simple JSF Facelets page</title>
</h:head>

<h:body>
    <ui:composition template="/WEB-INF/templates/layout.xhtml">
        <f:metadata>
            <f:viewParam name="ref" value="#{ticketEditorBean.ticket}"
                         required="true"
                         requiredMessage="Ticket Reference is required"
                         converter="ticketReferenceConverter">
            </f:viewParam>
        </f:metadata>

        <ui:define name="content">
            <!-- Ticket Summary -->
            <h:form>
                <h:outputText value="This is the ticket viewer"/>
                <jtt:editor value="#{ticketEditorBean.ticket}" edit="false"/>
            </h:form>

            <!-- Ticket Messages -->
            <p:dataTable value="#{ticketEditorBean.messages}" var="message">
                <h:column>
                    <h:outputText value="#{message.text}"/>
                </h:column>
            </p:dataTable>
        </ui:define>
    </ui:composition>
</h:body>

</html>